<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.vehicle_scheduling_management.mapper.AccidenceRecodeMapper">
    <!--<resultMap id="BaseResultMap"-->
               <!--type="com.example.vehicle_scheduling_management.pojo.TruckPO">-->
        <!--<id column="id" property="id" jdbcType="INTEGER" />-->
        <!--<result column="plateNumber" property="plateNumber" jdbcType="VARCHAR" />-->
        <!--<result column="fleetName" property="fleetName" jdbcType="VARCHAR" />-->
        <!--<result column="brand" property="brand" jdbcType="VARCHAR" />-->
        <!--<result column="model" property="model" jdbcType="VARCHAR" />-->
        <!--<result column="types" property="types" jdbcType="VARCHAR" />-->
        <!--<result column="loads" property="loads" jdbcType="FLOAT" />-->
        <!--<result column="colour" property="colour" jdbcType="VARCHAR" />-->
        <!--<result column="output" property="output" jdbcType="FLOAT" />-->
        <!--<result column="seat" property="seat" jdbcType="INTEGER" />-->
        <!--<result column="recordDate" property="recordDate" />-->
    <!--</resultMap>-->
    <sql id="Base_Column_List">
        plateNumber,driverCode,driverName,cost,insuranceCost,companyPay,injured,dead,
        guyPay,guyName,guyIdentity,guyAddress,guyTellphone,guyPlateNumber,guyCarType,
        accidentPlace,anlysis,signDate,handleResult,operator,remark,truckItemId
    </sql>
    <select id="queryById" resultType="AccidenceRecodePO"
            parameterType="java.lang.Integer">
        select * from accidencerecode where id = #{id}
    </select>
    
    <!--<select id="queryAll" resultType="TruckPO">-->
        <!--select * from truck-->
    <!--</select>-->

    <select id="queryByDivide" resultType="AccidenceRecodePO">
        select * from accidencerecode limit #{firstData},#{rowOfEachPage}
    </select>

    <select id="accidenceCount" resultType="Integer">
        select count(*) from accidencerecode
    </select>

    <insert id="add" parameterType="AccidenceRecodePO" useGeneratedKeys="true" keyProperty="id">
        insert into accidencerecode(<include refid="Base_Column_List" />)
        values(#{plateNumber},#{driverCode},#{driverName},#{cost},#{insuranceCost},#{companyPay},#{injured},#{dead},
        #{guyPay},#{guyName},#{guyIdentity},#{guyAddress},#{guyTellphone},#{guyPlateNumber},#{guyCarType},
        #{accidentPlace},#{anlysis},#{signDate},#{handleResult},#{operator},#{remark},#{truckItemId})
    </insert>
    
    <update id="update" parameterType="AccidenceRecodePO">

    </update>
    
    <delete id="delete" parameterType="int">
        delete from accidencerecode where id=#{id}
    </delete>
</mapper>