<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.vehicle_scheduling_management.mapper.DriverMapper">
    <resultMap id="BaseResultMap"
               type="com.example.vehicle_scheduling_management.pojo.DriverPO">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="driverCode" property="driverCode" jdbcType="CHAR" />
        <result column="driverName" property="driverName" jdbcType="VARCHAR" />
        <result column="sex" property="sex" jdbcType="CHAR" />
        <result column="age" property="age" jdbcType="INTEGER" />
        <result column="tellphone" property="tellphone" jdbcType="CHAR" />
        <result column="email" property="email" jdbcType="CHAR" />
        <result column="address" property="address" jdbcType="VARCHAR" />
        <result column="drivingLicenseType" property="drivingLicenseType" jdbcType="CHAR" />
        <result column="drivingLicense" property="drivingLicense" jdbcType="CHAR" />
        <result column="drivingAge" property="drivingAge" jdbcType="INTEGER" />
        <result column="jobSeniorityNum" property="jobSeniorityNum" jdbcType="CHAR" />
        <result column="getLicenseDate" property="getLicenseDate" />
        <result column="state" property="state" jdbcType="CHAR" />
    </resultMap>
    <sql id="Base_Column_List">
        *
    </sql>
    <select id="queryById" resultType="com.example.vehicle_scheduling_management.pojo.DriverPO"
            parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List" />
        from driver
        where id = #{id}
    </select>
    
    <select id="queryAll" resultType="com.example.vehicle_scheduling_management.pojo.DriverPO">
        select * from driver
    </select>

    <select id="queryByDivide" resultMap="BaseResultMap">
        select * from driver limit #{firstData},#{rowOfEachPage}
    </select>

    <select id="driverCount" resultType="java.lang.Integer">
        select count(*) from driver
    </select>

    <insert id="add" parameterType="DriverPO" useGeneratedKeys="true" keyProperty="id">
        insert into driver(driverCode,driverName,sex,age,tellphone,email,address,drivingLicenseType,
        drivingLicense,drivingAge,jobSeniorityNum,getLicenseDate,state)
        values(#{driverCode},#{driverName},#{sex},#{age},#{tellphone},#{email},#{address},#{drivingLicenseType},
        #{drivingLicense},#{drivingAge},#{jobSeniorityNum},#{getLicenseDate},#{state})
    </insert>
    
    <update id="update" parameterType="DriverPO">
        update driver set driverCode=#{driverCode},driverName=#{driverName},sex=#{sex},age=#{age},tellphone=#{tellphone},
        email=#{email},address=#{address},drivingLicenseType=#{drivingLicenseType},drivingLicense=#{drivingLicense},
        drivingAge=#{drivingAge},jobSeniorityNum=#{jobSeniorityNum},getLicenseDate=#{getLicenseDate},state=#{state}
        where id=#{id}
    </update>
    
    <delete id="delete" parameterType="int">
        delete from driver where id=#{id}
    </delete>
</mapper>