<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.vehicle_scheduling_management.mapper.HistoryPathMapper">
    <!--<resultMap id="BaseResultMap"-->
               <!--type="com.example.vehicle_scheduling_management.pojo.HistoryPathPO">-->
        <!--<id column="id" property="id" jdbcType="INTEGER" />-->
        <!--<result column="plateNumber" property="plateNumber" jdbcType="VARCHAR" />-->
        <!--<result column="fleetName" property="fleetName" jdbcType="VARCHAR" />-->
        <!--<result column="brand" property="brand" jdbcType="VARCHAR" />-->
        <!--<result column="model" property="model" jdbcType="VARCHAR" />-->
        <!--<result column="types" property="types" jdbcType="VARCHAR" />-->
        <!--<result column="loads" property="loads" jdbcType="FLOAT" />-->
        <!--<result column="colour" property="colour" jdbcType="VARCHAR" />-->
        <!--<result column="output" property="output" jdbcType="FLOAT" />-->
        <!--<result column="seat" property="seat" jdbcType="INTEGER" />-->
        <!--<result column="recordDate" property="recordDate" />-->
    <!--</resultMap>-->
    <!--<sql id="Base_Column_List">-->
        <!--id,plateNumber,fleetName,brand,model,types,loads,colour,output,seat,recordDate-->
    <!--</sql>-->
    <select id="queryById" resultType="com.example.vehicle_scheduling_management.pojo.HistoryPathPO"
            parameterType="java.lang.Integer">
        select * from historypath where id = #{id}
    </select>
    
    <select id="queryAll" resultType="HistoryPathPO">
        select * from historypath
    </select>

    <select id="queryByDivide" resultType="HistoryPathPO">
        select * from historypath limit #{firstData},#{rowOfEachPage}
    </select>

    <select id="truckCount" resultType="Integer">
        select count(*) from historypath
    </select>

    <!-- 根据truckItemId查找历史轨迹-->
    <select id="queryByItemId" resultType="HistoryPathPO">
        select * from historypath where truckItemId=#{truckItemId}
    </select>

    <insert id="add" parameterType="HistoryPathPO" useGeneratedKeys="true" keyProperty="id">
        insert into historypath(truckItemId,times,latitude,longitude,location)
        values(#{truckItemId},#{times},#{latitude},#{longitude},#{location})
    </insert>
    
    <update id="update" parameterType="HistoryPathPO">
        update historypath set plateNumber=#{plateNumber},fleetName=#{fleetName},brand=#{brand},
        model=#{model},types=#{types},loads=#{loads},colour=#{colour},output=#{output},seat=#{seat},
        recordDate=#{recordDate},status=#{status}
        where id=#{id}
    </update>
    
    <delete id="delete" parameterType="int">
        delete from historypath where id=#{id}
    </delete>
</mapper>