<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.vehicle_scheduling_management.mapper.PeccancyRecordMapper">
    <!--<resultMap id="BaseResultMap"-->
               <!--type="com.example.vehicle_scheduling_management.pojo.TruckPO">-->
        <!--<id column="id" property="id" jdbcType="INTEGER" />-->
        <!--<result column="plateNumber" property="plateNumber" jdbcType="VARCHAR" />-->
        <!--<result column="fleetName" property="fleetName" jdbcType="VARCHAR" />-->
        <!--<result column="brand" property="brand" jdbcType="VARCHAR" />-->
        <!--<result column="model" property="model" jdbcType="VARCHAR" />-->
        <!--<result column="types" property="types" jdbcType="VARCHAR" />-->
        <!--<result column="loads" property="loads" jdbcType="FLOAT" />-->
        <!--<result column="colour" property="colour" jdbcType="VARCHAR" />-->
        <!--<result column="output" property="output" jdbcType="FLOAT" />-->
        <!--<result column="seat" property="seat" jdbcType="INTEGER" />-->
        <!--<result column="recordDate" property="recordDate" />-->
    <!--</resultMap>-->
    <sql id="Base_Column_List">
        truckItemId,plateNumber,driverCode,driverName,peccancyDate,peccancyPlace,
        peccancy,result,deductPoints,fine,remark
    </sql>

    <select id="queryById" resultType="PeccancyRecordPO"
            parameterType="java.lang.Integer">
        select * from peccancyrecord where id = #{id}
    </select>
    
    <!--<select id="queryAll" resultType="TruckPO">-->
        <!--select * from truck-->
    <!--</select>-->

    <select id="queryByDivide" resultType="PeccancyRecordPO">
        select * from peccancyrecord limit #{firstData},#{rowOfEachPage}
    </select>

    <select id="peccancyCount" resultType="Integer">
        select count(*) from peccancyrecord
    </select>

    <insert id="add" parameterType="PeccancyRecordPO" useGeneratedKeys="true" keyProperty="id">
        insert into peccancyrecord(<include refid="Base_Column_List" />)
        values(#{truckItemId},#{plateNumber},#{driverCode},#{driverName},#{peccancyDate},#{peccancyPlace},
        #{peccancy},#{result},#{deductPoints},#{fine},#{remark})
    </insert>
    
    <update id="update" parameterType="PeccancyRecordPO">

    </update>
    
    <delete id="delete" parameterType="int">
        delete from peccancyrecord where id=#{id}
    </delete>
</mapper>