<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.vehicle_scheduling_management.mapper.TruckItemMapper">
    <!--<resultMap id="BaseResultMap"-->
               <!--type="com.example.vehicle_scheduling_management.pojo.TruckPO">-->
        <!--<id column="id" property="id" jdbcType="INTEGER" />-->
        <!--<result column="plateNumber" property="plateNumber" jdbcType="VARCHAR" />-->
        <!--<result column="fleetName" property="fleetName" jdbcType="VARCHAR" />-->
        <!--<result column="brand" property="brand" jdbcType="VARCHAR" />-->
        <!--<result column="model" property="model" jdbcType="VARCHAR" />-->
        <!--<result column="types" property="types" jdbcType="VARCHAR" />-->
        <!--<result column="loads" property="loads" jdbcType="FLOAT" />-->
        <!--<result column="colour" property="colour" jdbcType="VARCHAR" />-->
        <!--<result column="output" property="output" jdbcType="FLOAT" />-->
        <!--<result column="seat" property="seat" jdbcType="INTEGER" />-->
        <!--<result column="recordDate" property="recordDate" />-->
    <!--</resultMap>-->
    <!--<sql id="Base_Column_List">-->
        <!--id,plateNumber,fleetName,brand,model,types,loads,colour,output,seat,recordDate-->
    <!--</sql>-->
    <!-- 通过货车id查询车辆项 -->

    <!-- 开启二级缓存 -->
    <cache eviction="LRU" flushInterval="10800000" size="1024"/>

    <select id="queryByTruckId" resultType="TruckItemPO"
            parameterType="java.lang.Integer">
        select * from truckitem where truckId = #{truckId}
    </select>

    <!-- 通过调度申请id查询车辆项 -->
    <select id="queryByScheId" resultType="TruckItemPO"
            parameterType="java.lang.Integer">
        select * from truckitem where scheduleId = #{scheId}
    </select>
    

    <insert id="add" parameterType="TruckItemPO" useGeneratedKeys="true" keyProperty="id">
        insert into truckitem(scheduleId,truckId,plateNumber,driverId,driverCode,driverName)
        values(#{scheduleId},#{truckId},#{plateNumber},#{driverId},#{driverCode},#{driverName})
    </insert>
    
    <update id="update" parameterType="TruckItemPO">

    </update>
    
    <delete id="delete" parameterType="int">
        delete from truckitem where id=#{id}
    </delete>

    <!-- 删除与该调度申请有关的车辆项 -->
    <delete id="deleteByScheId" parameterType="int">
        delete from truckitem where scheduleId=#{scheId}
    </delete>
</mapper>