<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.vehicle_scheduling_management.mapper.TruckMapper">
   <!-- <resultMap id="BaseResultMap"
               type="com.example.vehicle_scheduling_management.pojo.DriverPO">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="driverCode" property="driverCode" jdbcType="CHAR" />
        <result column="driverName" property="driverName" jdbcType="VARCHAR" />
        <result column="sex" property="sex" jdbcType="CHAR" />
        <result column="age" property="age" jdbcType="INTEGER" />
        <result column="tellphone" property="tellphone" jdbcType="CHAR" />
        <result column="email" property="email" jdbcType="CHAR" />
        <result column="address" property="address" jdbcType="VARCHAR" />
        <result column="drivingLicenseType" property="drivingLicenseType" jdbcType="CHAR" />
        <result column="drivingLicense" property="drivingLicense" jdbcType="CHAR" />
        <result column="drivingAge" property="drivingAge" jdbcType="INTEGER" />
        <result column="jobSeniorityNum" property="jobSeniorityNum" jdbcType="CHAR" />
        <result column="getLicenseDate" property="getLicenseDate" />
        <result column="state" property="state" jdbcType="CHAR" />
    </resultMap>-->
    <sql id="Base_Column_List">
        *
    </sql>
    <select id="queryById" resultType="com.example.vehicle_scheduling_management.pojo.TruckPO"
            parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List" />
        from truck
        where id = #{id}
    </select>
    
    <select id="queryAll" resultType="TruckPO">
        select * from truck
    </select>

    <insert id="add" parameterType="TruckPO" useGeneratedKeys="true" keyProperty="id">
        insert into truck(plateNumber,fleetName,brand,model,types,loads,colour,output,seat,recordDate)
        values(#{plateNumber},#{fleetName},#{brand},#{model},#{types},#{loads},#{colour},#{output},#{seat},#{recordDate})
    </insert>
    
    <update id="update" parameterType="TruckPO">
        update truck set plateNumber=#{plateNumber},fleetName=#{fleetName},brand=#{brand},
        model=#{model},types=#{types},loads=#{loads},colour=#{colour},output=#{output},seat=#{seat},
        recordDate=#{recordDate}
        where id=#{id}
    </update>
    
    <delete id="delete" parameterType="int">
        delete from truck where id=#{id}
    </delete>
</mapper>