<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.vehicle_scheduling_management.mapper.TruckScheduleMapper">
    <!--<resultMap id="BaseResultMap"-->
               <!--type="com.example.vehicle_scheduling_management.pojo.TruckPO">-->
        <!--<id column="id" property="id" jdbcType="INTEGER" />-->
        <!--<result column="plateNumber" property="plateNumber" jdbcType="VARCHAR" />-->
        <!--<result column="fleetName" property="fleetName" jdbcType="VARCHAR" />-->
        <!--<result column="brand" property="brand" jdbcType="VARCHAR" />-->
        <!--<result column="model" property="model" jdbcType="VARCHAR" />-->
        <!--<result column="types" property="types" jdbcType="VARCHAR" />-->
        <!--<result column="loads" property="loads" jdbcType="FLOAT" />-->
        <!--<result column="colour" property="colour" jdbcType="VARCHAR" />-->
        <!--<result column="output" property="output" jdbcType="FLOAT" />-->
        <!--<result column="seat" property="seat" jdbcType="INTEGER" />-->
        <!--<result column="recordDate" property="recordDate" />-->
    <!--</resultMap>-->
    <!--<sql id="Base_Column_List">-->
        <!--id,plateNumber,fleetName,brand,model,types,loads,colour,output,seat,recordDate-->
    <!--</sql>-->

    <!-- 开启二级缓存 -->
    <cache eviction="LRU" flushInterval="10800000" size="1024"/>

    <select id="queryById" resultType="TruckSchedulePO"
            parameterType="java.lang.Integer">
        select * from truckschedule where id = #{id}
    </select>
    
    <!--<select id="queryAll" resultType="TruckPO">-->
        <!--select * from truck-->
    <!--</select>-->

    <!--分页查询调度申请列表-->
    <select id="queryByDivide" resultType="TruckSchedulePO">
        select * from truckschedule order by id DESC limit #{firstData},#{rowOfEachPage}
    </select>

    <!-- 根据申请状态，分页查询调度申请 -->
    <select id="queryByAppstate" resultType="TruckSchedulePO">
        select * from truckschedule where applicationState=#{appState} order by applicationDate DESC ,id DESC limit #{firstData},#{rowOfEachPage}
    </select>

    <!-- 根据状态，查询调度申请 -->
    <select id="queryByStatus" resultType="TruckSchedulePO">
        select * from truckschedule where status=#{status}
    </select>

    <!-- 查询所有调度申请的数量 -->
    <select id="scheduleCount" resultType="Integer">
        select count(*) from truckschedule
    </select>

    <!-- 根据申请状态查询调度申请的数量 -->
    <select id="shScheduleCount" resultType="Integer">
        select count(*) from truckschedule where applicationState=#{appState}
    </select>

    <insert id="add" parameterType="TruckSchedulePO" useGeneratedKeys="true" keyProperty="id">
        insert into truckschedule(startPlace,endPlace,span,aim,applicationState,applicationDate,accessDate,completeDate,status,remark)
        values(#{startPlace},#{endPlace},#{span},#{aim},#{applicationState},#{applicationDate},#{accessDate},#{completeDate},#{status},#{remark})
    </insert>
    
    <update id="update" parameterType="TruckSchedulePO">
        update truckschedule set startPlace=#{startPlace},endPlace=#{endPlace},span=#{span},aim=#{aim},applicationState=#{applicationState},
        applicationDate=#{applicationDate},accessDate=#{accessDate},completeDate=#{completeDate},status=#{status},remark=#{remark} where id=#{id}
    </update>
    
    <delete id="delete" parameterType="int">
        delete from truckschedule where id=#{id}
    </delete>
</mapper>