<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>车辆信息</title>
    <!-- Bootstrap Styles-->
    <link href="/assets/css/bootstrap.css" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="/assets/css/font-awesome.css" rel="stylesheet"/>
    <!-- Morris Chart Styles-->

    <!-- Custom Styles-->
    <link href="/assets/css/custom-styles.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <!-- TABLE STYLES-->
    <link href="/assets/js/dataTables/dataTables.bootstrap.css" rel="stylesheet"/>
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation" th:include="header :: top-navbar">
    </nav>
    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation" th:include="sidebar :: navbar-side">
    </nav>

    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div class="header">
            <!--<h1 class="page-header">-->
            <!--Tables Page <small>Responsive tables</small>-->
            <!--</h1>-->
            <ol class="breadcrumb">
                <li><a href="#">主页</a></li>
                <li><a href="#">车辆管理</a></li>
                <li class="active">车辆列表</li>
            </ol>

        </div>

        <div id="page-inner">

            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            车辆列表
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <a th:href="@{/truck/toAdd}" class="btn btn-primary">新增</a>
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>车牌号</th>
                                        <th>品牌</th>
                                        <th>载重(吨)</th>
                                        <th>排量(L)</th>
                                        <th>核定座位</th>
                                        <th>颜色</th>
                                        <th>注册日期</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="odd gradeX" data-th-each="truck : ${dividePage.objList}">
                                        <td data-th-text="${truck.plateNumber}"></td>
                                        <td data-th-text="${truck.brand}"></td>
                                        <td data-th-text="${truck.loads}"></td>
                                        <td data-th-text="${truck.output}"></td>
                                        <td data-th-text="${truck.seat}"></td>
                                        <td data-th-text="${truck.colour}"></td>
                                        <td data-th-text="${truck.recordDate}"></td>
                                        <td ><a href="#" th:href="@{/truck/toEdit(id=${truck.id})}">[编辑]</a>
                                            <a href="#" th:href="@{/truck/delete(id=${truck.id})}">[删除]</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <ul class="pagination">
                                    <li><a href="#" th:href="@{/truck/toList(thisPage=${dividePage.prePage})}">&laquo;</a></li>


                                    <li th:class="${num eq dividePage.thisPage}?active" th:each="num:${dividePage.startAndEnd}">
                                        <a href="#" th:href="@{/truck/toList(thisPage=${num})}"
                                           th:text="${numStat.count }"></a>
                                    </li>
                                    <li><a href="#" th:href="@{/truck/toList(thisPage=${dividePage.nextPage})}">&raquo;</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>
            <!-- /. ROW  -->
        </div>
    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="/assets/js/jquery-1.10.2.js"></script>
<!-- Bootstrap Js -->
<script src="/assets/js/bootstrap.min.js"></script>
<!-- Metis Menu Js -->
<script src="/assets/js/jquery.metisMenu.js"></script>
<!-- Custom Js -->
<script src="/assets/js/custom-scripts.js"></script>
<!-- DATA TABLE SCRIPTS -->
<script src="/assets/js/dataTables/jquery.dataTables.js"></script>
<script src="/assets/js/dataTables/dataTables.bootstrap.js"></script>
<!-- Morris Chart Js -->
<script src="/assets/js/morris/raphael-2.1.0.min.js"></script>
<script src="/assets/js/morris/morris.js"></script>


<script src="/assets/js/easypiechart.js"></script>
<script src="/assets/js/easypiechart-data.js"></script>

<script src="/assets/js/Lightweight-Chart/jquery.chart.js"></script>
<script>
    $(document).ready(function () {
        $('#dataTables-example').dataTable();
    });
</script>


</body>
</html>
