<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>物流公司车辆调度管理系统</title>
    <!-- Bootstrap Styles-->
    <link href="/assets/css/bootstrap.css" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="/assets/css/font-awesome.css" rel="stylesheet"/>
    <!-- Morris Chart Styles-->
    <link href="/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet"/>
    <!-- Custom Styles-->
    <link href="/assets/css/custom-styles.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='/assets/css/fonts-googleapis.css' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="/assets/js/Lightweight-Chart/cssCharts.css">
    <link rel="stylesheet" href="https://cache.amap.com/lbs/static/main.css"/>
    <link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css"/>
    <style rel="stylesheet">
        #historyTool {
            width: 400px;
            height: 250px;
            position: absolute;
            right: 0;
            top: 150px;
            z-index: 12;
        }
        #historyTable {
            height:150px;
        }
    </style>
</head>

<body>
<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation" th:include="header :: top-navbar">
    </nav>
    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation" th:include="sidebar :: navbar-side">
    </nav>
    <!-- /. NAV SIDE  -->

    <div id="page-wrapper">
         <!-- 模态框 -->
        <div class="modal fade bs-example-modal-lg" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        <!-- 行车记录列表 -->
                        <div class="table-responsive pre-scrollable">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>车牌号</th>
                                        <th>开始时间</th>
                                        <th>结束时间</th>
                                        <th>开始地点</th>
                                        <th>结束地点</th>
                                        <th>里程</th>
                                    </tr>
                                </thead>
                                <tbody id="modalTbody">

                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" onclick="getHistoryInfo()">确定</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

        <div class="header">
            <ol class="breadcrumb">
                <li><a href="#">主页</a></li>
                <li><a href="#">调度申请 </a></li>
                <li class="active">整车调度</li>
            </ol>
        </div>

        <div class="panel panel-default" id="historyTool">
            <div class="panel-heading">
                <button onclick="startPath()" class="btn btn-default btn-sm" type="button" style="background-color: #0aacff !important;border-color: #0aacff;" >
                    <img src="/assets/img/suspend.jpg"/>
                </button>
                <button class="btn btn-default btn-sm" id="showModal" onclick="showModal()"
                        type="button" style="background-color: #0aacff !important;border-color: #0aacff;">
                    <img src="/assets/img/search.jpg"/>
                </button>
            </div>
            <div class="panel-body">
                <div class="table-responsive pre-scrollable" id="historyTable">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>时间</th>
                            <th>所在位置</th>
                        </tr>
                        </thead>
                        <tbody id="toolTbody">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="panel-body" id="map-window" style="height: 800px;">

        </div>

        <!--<div class="row">-->

            <!--<div class="col-md-12">-->
                <!--<div class="panel panel-default">-->
                    <!--<div class="panel-heading">-->
                        <!--地图-->
                    <!--</div>-->

                    <!--<div class="panel-body" id="map-window" style="height: 600px;">-->


                    <!--</div>-->
                    <!--<div id="panel"></div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!-- row -->

    </div>


    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="/assets/js/jquery-1.10.2.js"></script>
<!-- Bootstrap Js -->
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/morris/morris.js"></script>

<!-- Metis Menu Js -->
<script src="/assets/js/jquery.metisMenu.js"></script>

<script src="/assets/js/easypiechart.js"></script>
<script src="/assets/js/easypiechart-data.js"></script>

<script src="/assets/js/Lightweight-Chart/jquery.chart.js"></script>

<!-- Custom Js -->
<script src="/assets/js/custom-scripts.js"></script>

<!--<script src="http://webapi.amap.com/maps?v=1.4.6&key=4b3e05927c7a55aa1a6526687c38207a&callback=init&plugin=AMap.Driving"></script>-->
<script type="text/javascript"
        src="http://webapi.amap.com/maps?v=1.4.6&key=4b3e05927c7a55aa1a6526687c38207a&plugin=AMap.Driving"></script>
<script src="https://webapi.amap.com/js/marker.js"></script>
<script type="text/javascript" src="http://cache.amap.com/lbs/static/addToolbar.js"></script>
<script src="//webapi.amap.com/ui/1.0/main.js?v=1.0.11"></script>

<script type="text/javascript">
    function showModal() {
        //获取历史行车记录列表
        $.ajax({
            //几个参数需要注意一下
            type: "POST",//方法类型
            async:false,
            dataType: "json",//预期服务器返回的数据类型
            url: "/schedule/getLsgjList" ,//url
            data: $('#register_form').serialize(),
            success: function (result) {
                console.log(result);//打印服务端返回的数据(调试用)
                eval(result);
                if (result.code == "200") {
                    var lsgjs = result.rel;
                    var tbody = document.getElementById("modalTbody");
                    tbody.innerHTML = "";
                    for(var i=0;i<lsgjs.length;i++){
                        var lsgj = lsgjs[i];
                        var tr = document.createElement("tr");
                        var td0 = document.createElement("td");
                        var td1 = document.createElement("td");
                        var td2 = document.createElement("td");
                        var td3 = document.createElement("td");
                        var td4 = document.createElement("td");
                        var td5 = document.createElement("td");
                        var td6 = document.createElement("td");

                        td0.innerHTML = "<input type=\'checkbox\' name=\'icheckbox\' value=\'"+ lsgj.id +"\'/>";
                        td1.innerHTML = lsgj.plateNumber;
                        td2.innerHTML = lsgj.startDate;
                        td3.innerHTML = lsgj.endDate;
                        td4.innerHTML = "广东省惠州市惠城区";
                        td5.innerHTML = lsgj.endPlace;
                        td6.innerHTML = 16;

                        tr.appendChild(td0);
                        tr.appendChild(td1);
                        tr.appendChild(td2);
                        tr.appendChild(td3);
                        tr.appendChild(td4);
                        tr.appendChild(td5);
                        tr.appendChild(td6);

                        tbody.appendChild(tr);
                    }
                }else{
                    alert("出错！");
                }
            }
        });

        $("#myModal").modal();
    }

</script>

<script type="text/javascript">
    //创建一个地图
    var map = new AMap.Map('map-window', {
        resizeEnable: true,
        center: [114.420433, 23.069401],
        zoom: 6
    });

    //构造路线导航类
    var driving = new AMap.Driving({
        map: map,
//        panel: "panel"
    });
    // 根据起终点名称规划驾车导航路线
    //    driving.search([
    //        {keyword: '惠州市火车南站',city:'惠州'},
    //        {keyword: '广州市天河客运站',city:'广州'}
    //    ]);
    //通过坐标点规划路线
    //    driving.search([114.423933,23.058291],[113.342309,23.170892],[110.301129,21.150769],function (status,result) {
    //
    //    });

    function selectOne(address, city) {
        driving.search([
            {keyword: '惠州市火车南站', city: '惠州'},
            {keyword: address, city: city}
        ]);
    }

    /**
     * @Author: yjf
     * @Description: 点击模态框的"确定"按钮时，获取时间-地点数据，在地图上画出线路
     * @Param: truckItemId
     * @Return: null
     * @Date: 17:30 2018/5/16
     */
//    function getHistoryInfo(truckItemId) {
//        //获取复选框选中的记录的truckItemId
//        var checks = document.getElementsByName("icheckbox");
//        var truckItemId = "233";
//        for(var i=0;i<checks.length;i++){
//            var check = checks[i];
//            if(check.checked){
//                truckItemId = check.value;
//                $("#myModal").modal("hide");
//                break;
//            }
//            alert("请选择一条记录！");
//        }
//
//        $.ajax({
//            //几个参数需要注意一下
//            type: "POST",//方法类型
//            async:false,
//            dataType: "json",//预期服务器返回的数据类型
//            url: "/schedule/getSteps?truckItemId=" + truckItemId ,//url
////            data: $('#register_form').serialize(),
//            success: function (result) {
//                console.log(result);//打印服务端返回的数据(调试用)
//                var lineArr = result.steps;
//                console.log("lineArr:" + lineArr);
//                var pathVOS = result.pathVOS;
//
//                //在悬浮的工具栏中加入数据
//                var tbody = document.getElementById("toolTbody");
//                for(var i=0;i<pathVOS.length;i++){
//                    var path = pathVOS[i];
//                    var tr = document.createElement("tr");
//                    var td0 = document.createElement("td");
//                    var td1 = document.createElement("td");
//                    var td2 = document.createElement("td");
//
//                    td0.innerHTML = path.id;
//                    td1.innerHTML = path.times;
//                    td2.innerHTML = path.location;
//
//                    tr.appendChild(td0);
//                    tr.appendChild(td1);
//                    tr.appendChild(td2);
//
//                    tbody.appendChild(tr);
//                }
//
//                //在地图上画线
//                var polyline = new AMap.Polyline({
//                    path: lineArr,          //设置线覆盖物路径
//                    strokeColor: "#FF0000", //线颜色
//                    strokeOpacity: 2,       //线透明度
//                    strokeWeight: 2,        //线宽
//                    strokeStyle: "solid",   //线样式
//                    strokeDasharray: [10, 5] //补充线样式
//                });
//
//                重新定义中心点
//                map = new AMap.Map('map-window', {
//                    resizeEnable: true,
//                    center: [114.423933, 23.058291],
////                    center: [116.368904, 39.913423],
//                    zoom: 12
//                });
//                polyline.setMap(map);
////                setMarker("[114.408797,23.106159]","");
//                //设置一个覆盖物
//                setMarker([114.423933,23.058291],"/assets/img/truck8.png");
//            }
//        });
//    }

    var marker;
    function setMarker(location,url) {
        marker = new AMap.Marker({
            position: location,
            icon: new AMap.Icon({
                size: new AMap.Size(53,32),
                image: url,
                imageOffset: new AMap.Pixel(0,10)
            })
        });
        marker.setMap(map);
    }

    //测试用
    function getHistoryInfo(truckItemId) {
        //获取复选框选中的记录的truckItemId
        var checks = document.getElementsByName("icheckbox");
        var truckItemId = "233";
        for(var i=0;i<checks.length;i++){
            var check = checks[i];
            if(check.checked){
                truckItemId = check.value;
                $("#myModal").modal("hide");
                break;
            }
            alert("请选择一条记录！");
        }

        $.ajax({
            //几个参数需要注意一下
            type: "POST",//方法类型
            async:false,
            dataType: "json",//预期服务器返回的数据类型
            url: "/schedule/getSteps?truckItemId=" + truckItemId ,//url
//            data: $('#register_form').serialize(),
            success: function (result) {
                var lineArr = result.steps;
                var pathVOS = result.pathVOS;

                //在悬浮的工具栏中加入数据
                var tbody = document.getElementById("toolTbody");
                for(var i=0;i<pathVOS.length;i++){
                    var path = pathVOS[i];
                    var tr = document.createElement("tr");
                    var td0 = document.createElement("td");
                    var td1 = document.createElement("td");
                    var td2 = document.createElement("td");

                    td0.innerHTML = i+1;
                    td1.innerHTML = path.times;
                    td2.innerHTML = path.location;

                    tr.appendChild(td0);
                    tr.appendChild(td1);
                    tr.appendChild(td2);

                    tbody.appendChild(tr);
                }
                showPath(lineArr);

            }
        });
    }

    var pathSimplifierIns;
    var navg1;
    function showPath(lineArr){
        AMapUI.load(['ui/misc/PathSimplifier', 'lib/$'], function(PathSimplifier, $) {

            if (!PathSimplifier.supportCanvas) {
                alert('当前环境不支持 Canvas！');
                return;
            }

            pathSimplifierIns = new PathSimplifier({
                zIndex: 100,
                //autoSetFitView:false,
                map: map, //所属的地图实例

                getPath: function(pathData, pathIndex) {

                    return pathData.path;
                },
                getHoverTitle: function(pathData, pathIndex, pointIndex) {

                    if (pointIndex >= 0) {
                        //point
                        return pathData.name + '，点：' + pointIndex + '/' + pathData.path.length;
                    }

                    return pathData.name + '，点数量' + pathData.path.length;
                },
                renderOptions: {

                    renderAllPointsIfNumberBelow: 100 //绘制路线节点，如不需要可设置为-1
                }
            });

            window.pathSimplifierIns = pathSimplifierIns;

            //设置数据
            pathSimplifierIns.setData([{
                name: '路线0',
                path: lineArr
            }]);

            //巡航器的样式
            var pathNavigatorStyles = [
                {
                    width: 16,
                    height: 32,
                    //使用图片
                    content: PathSimplifier.Render.Canvas.getImageContent('/assets/img/truck8.png', onload, onerror),
                }
            ];
            function onload() {
                pathSimplifierIns.renderLater();
            }

            function onerror(e) {
                alert('图片加载失败！');
            }

            //对第一条线路（即索引 0）创建一个巡航器
            navg1 = pathSimplifierIns.createPathNavigator(0, {
                loop: false, //循环播放
                speed: 500, //巡航速度，单位千米/小时
                pathNavigatorStyle: pathNavigatorStyles[0]
            });

//            navg1.start();
        });
    }

    function startPath(){
        navg1.start();
    }

</script>
<script type="text/javascript" src="https://webapi.amap.com/demos/js/liteToolbar.js"></script>

</body>

</html>