<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>物流公司车辆调度管理系统</title>
    <!-- Bootstrap Styles-->
    <link href="/assets/css/bootstrap.css" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="/assets/css/font-awesome.css" rel="stylesheet"/>
    <!-- Morris Chart Styles-->
    <link href="/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet"/>
    <!-- Custom Styles-->
    <link href="/assets/css/custom-styles.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='/assets/css/fonts-googleapis.css' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="/assets/js/Lightweight-Chart/cssCharts.css">
    <link rel="stylesheet" href="https://cache.amap.com/lbs/static/main.css"/>
    <link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css"/>
    <style rel="stylesheet">
        #historyTool {
            width: 400px;
            height: 500px;
            position: absolute;
            right: 0;
            top: 150px;
            z-index: 12;
        }

        #historyTable {
            height:250px;
        }

        #routes-container {
            height: 150px;
            margin-left: 10px
        }

        #loadingTip {
            z-index: 9999;
            left: 0;
            padding: 3px 10px;
            background: red;
            color: #fff;
            font-size: 13px
        }

        .route-item {
            margin-bottom: 10px
        }

        .route-item pre {
            margin: 0
        }

        .route-item h3 {
            margin: 5px 0;
            font-size: 14px;
            cursor: pointer
        }

        .hide {
            display: none
        }

        .speedBox {
            padding: 5px 0
        }

        .speedRange {
            vertical-align: middle;
            margin: 0;
            padding: 0;
            width: 100px
        }

        .markerInfo {
            background: rgba(255, 255, 255, 0.7);
            padding: 2px 5px;
            border: 1px solid #ccc;
            white-space: nowrap;
        }
    </style>
</head>

<body>
<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation" th:include="header :: top-navbar">
    </nav>
    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation" th:include="sidebar :: navbar-side">
    </nav>
    <!-- /. NAV SIDE  -->

    <div id="page-wrapper">
         <!-- 模态框 -->
        <div class="modal fade bs-example-modal-lg" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        <!-- 行车记录列表 -->
                        <div class="table-responsive pre-scrollable">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>车牌号</th>
                                        <th>开始时间</th>
                                        <th>结束时间</th>
                                        <th>开始地点</th>
                                        <th>结束地点</th>
                                        <th>里程</th>
                                    </tr>
                                </thead>
                                <tbody id="modalTbody">

                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" onclick="getHistoryInfo()">确定</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

        <div class="header">
            <ol class="breadcrumb">
                <li><a href="#">主页</a></li>
                <li><a href="#">调度申请 </a></li>
                <li class="active">整车调度</li>
            </ol>
        </div>

        <div class="panel panel-default" id="historyTool">
            <div class="panel-heading" id="routes-container">
                <div class="route-item" id="route-item">
                    <button class="btn navigBtn" data-btnIdx="3" data-act="query" onclick="showModal()">查找</button>
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive pre-scrollable" id="historyTable">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>时间</th>
                            <th>所在位置</th>
                        </tr>
                        </thead>
                        <tbody id="toolTbody">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="panel-body" id="map-window" style="height: 800px;">

        </div>

        <!--<div class="row">-->

            <!--<div class="col-md-12">-->
                <!--<div class="panel panel-default">-->
                    <!--<div class="panel-heading">-->
                        <!--地图-->
                    <!--</div>-->

                    <!--<div class="panel-body" id="map-window" style="height: 600px;">-->


                    <!--</div>-->
                    <!--<div id="panel"></div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!-- row -->

    </div>


    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="/assets/js/jquery-1.10.2.js"></script>
<!-- Bootstrap Js -->
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/morris/morris.js"></script>

<!-- Metis Menu Js -->
<script src="/assets/js/jquery.metisMenu.js"></script>

<script src="/assets/js/easypiechart.js"></script>
<script src="/assets/js/easypiechart-data.js"></script>

<script src="/assets/js/Lightweight-Chart/jquery.chart.js"></script>

<!-- Custom Js -->
<script src="/assets/js/custom-scripts.js"></script>

<!--<script src="http://webapi.amap.com/maps?v=1.4.6&key=4b3e05927c7a55aa1a6526687c38207a&callback=init&plugin=AMap.Driving"></script>-->
<script type="text/javascript"
        src="http://webapi.amap.com/maps?v=1.4.6&key=4b3e05927c7a55aa1a6526687c38207a&plugin=AMap.Driving"></script>
<script src="https://webapi.amap.com/js/marker.js"></script>
<script type="text/javascript" src="http://cache.amap.com/lbs/static/addToolbar.js"></script>
<script src="//webapi.amap.com/ui/1.0/main.js?v=1.0.11"></script>

<script type="text/javascript">
    //创建一个地图
    var map = new AMap.Map('map-window', {
        resizeEnable: true,
        center: [114.420433, 23.069401],
        zoom: 6
    });

    //构造路线导航类
    var driving = new AMap.Driving({
        map: map,
//        panel: "panel"
    });


    var marker;
    function setMarker(location,url) {
        marker = new AMap.Marker({
            position: location,
            icon: new AMap.Icon({
                size: new AMap.Size(53,32),
                image: url,
                imageOffset: new AMap.Pixel(0,10)
            })
        });
        marker.setMap(map);
    }

    //测试用
    function getHistoryInfo(truckItemId) {
        //获取复选框选中的记录的truckItemId
        var checks = document.getElementsByName("icheckbox");
        var truckItemId = "233";
        for(var i=0;i<checks.length;i++){
            var check = checks[i];
            if(check.checked){
                truckItemId = check.value;
                $("#myModal").modal("hide");
                break;
            }
            alert("请选择一条记录！");
        }

        $.ajax({
            //几个参数需要注意一下
            type: "POST",//方法类型
            async:false,
            dataType: "json",//预期服务器返回的数据类型
            url: "/schedule/getSteps?truckItemId=" + truckItemId ,//url
//            data: $('#register_form').serialize(),
            success: function (result) {
                var lineArr = result.steps;
                var pathVOS = result.pathVOS;

                //在悬浮的工具栏中加入数据
                var tbody = document.getElementById("toolTbody");
                for(var i=0;i<pathVOS.length;i++){
                    var path = pathVOS[i];
                    var tr = document.createElement("tr");
                    tr.setAttribute("data-index",i);
                    var td0 = document.createElement("td");
                    var td1 = document.createElement("td");
                    var td2 = document.createElement("td");

                    td0.innerHTML = i+1;
                    td1.innerHTML = path.times;
                    td2.innerHTML = path.location;

                    tr.appendChild(td0);
                    tr.appendChild(td1);
                    tr.appendChild(td2);

                    tbody.appendChild(tr);
                }
//                var trs = $("#toolTbody tr");
//                $("#historyTable").animate({scrollTop:$("[data-index='8']").offset().top-$("[data-index='1']").offset().top});
//                console.log($("[data-index='8']").offset().top)

                document.getElementById("route-item").innerHTML = "";
                showPath(lineArr,pathVOS[pathVOS.length-1].location);
            }
        });
    }

    var pathSimplifierIns;
    var navg1;
    var colors = [
        "#3366cc", "#dc3912", "#ff9900", "#109618", "#990099", "#0099c6", "#dd4477", "#66aa00",
        "#b82e2e", "#316395", "#994499", "#22aa99", "#aaaa11", "#6633cc", "#e67300", "#8b0707",
        "#651067", "#329262", "#5574a6", "#3b3eac"
    ];
    function showPath(lineArr,locaName){
        AMapUI.load(['ui/misc/PathSimplifier', 'lib/$'], function(PathSimplifier, $) {

            if (!PathSimplifier.supportCanvas) {
                alert('当前环境不支持 Canvas！');
                return;
            }

            pathSimplifierIns = new PathSimplifier({
                zIndex: 100,
                //autoSetFitView:false,
                map: map, //所属的地图实例

                getPath: function(pathData, pathIndex) {

                    return pathData.path;
                },
                getHoverTitle: function(pathData, pathIndex, pointIndex) {

                    if (pointIndex >= 0) {
                        //point
                        return pathData.name + '，点：' + pointIndex + '/' + pathData.length;
                    }

                    return pathData.name + '，点数量' + pathData.length;
                },
                renderOptions: {

                    renderAllPointsIfNumberBelow: 100 //绘制路线节点，如不需要可设置为-1
                }
            });

            //巡航控制器
            var pathNavigs = [];
            function getNavg(pathIndex) {

                if (!pathNavigs[pathIndex]) {

                    //创建一个轨迹巡航器
                    var navgtr = pathSimplifierIns.createPathNavigator(pathIndex, {
                        loop: true,
                        speed: parseInt($('#speedInp_' + pathIndex).val())
                    });

                    var $markerContent = $('<div class="markerInfo"></div>');

                    $markerContent.html(pathSimplifierIns.getPathData(pathIndex));

            navgtr.marker = new AMap.Marker({
                offset: new AMap.Pixel(12, -10),
                content: $markerContent.get(0),
                map: map
            });

                    var $msg = $('#routes-container').find('div.route-item[data-idx="' +
                        pathIndex + '"]').find('.msg');

            navgtr.on('move', function() {
                navgtr.marker.setPosition(navgtr.getPosition());
            });

//            navgtr.onDestroy(function() {
//                pathNavigs[pathIndex] = null;
//                navgtr.marker.setMap(null);
//                $msg.html('');
//            });

                    navgtr.on('start resume', function() {
                        navgtr._startTime = Date.now();
                        navgtr._startDist = this.getMovedDistance();
                    });

                    navgtr.on('pause', function() {

//                        navgtr._movedTime = Date.now() - navgtr._startTime;
//                        navgtr._movedDist = this.getMovedDistance() - navgtr._startDist;
//
//                        navgtr._realSpeed = (navgtr._movedDist / navgtr._movedTime * 3600);
//
//                        var msgInfo = {
//                            '状态': this.getNaviStatus(),
//                            '设定速度': this.getSpeed() + ' km/h',
//                            '总行进距离': Math.round(this.getMovedDistance() / 1000) + ' km',
//                            '本段行进距离': Math.round(navgtr._movedDist / 1000) + ' km',
//                            '本段耗时': (navgtr._movedTime / 1000) + ' s',
//                            '本段实际速度': Math.round(navgtr._realSpeed) + ' km/h'
//                        };
//
//                        $msg.html('<pre>' + JSON.stringify(msgInfo, null, 2) + '</pre>');

                        refreshNavgButtons();
                    });

//            navgtr.on('move', function() {
//                        var msgInfo = {
//                            '状态': this.getNaviStatus(),
//                            '设定速度': this.getSpeed() + ' km/h',
//                            '总行进距离': Math.round(this.getMovedDistance() / 1000) + ' km'
//                        };
//
//                        $msg.html('<pre>' + JSON.stringify(msgInfo, null, 2) + '</pre>');
//            });

                    navgtr.on('query', function() {
                        showModal();
                    });

                    pathNavigs[pathIndex] = navgtr;
                }

                return pathNavigs[pathIndex];
            }

            var navigBtnsConf = [{
                name: '开始巡航',
                action: 'start',
                enableExp: 'navgStatus === "stop" || navgStatus === "pause"'
            }, {
                name: '暂停',
                action: 'pause',
                enableExp: 'navgStatus === "moving"'
            }, {
                name: '恢复',
                action: 'resume',
                enableExp: 'navgStatus === "pause"'
            }];

            function refreshNavgButtons() {

                $('#routes-container').find('div.route-item').each(function() {

                    var pathIndex = parseInt($(this).attr('data-idx'), 0);

                    if (pathIndex < 0) {
                        return;
                    }

                    var navgStatus = 'stop',
                        navgExists = !!pathNavigs[pathIndex];

                    if (navgExists) {
                        navgStatus = pathNavigs[pathIndex].getNaviStatus();
                    }

                    $(this).find('.navigBtn').each(function() {

                        var btnIdx = parseInt($(this).attr('data-btnIdx'));

                        $(this).prop('disabled', !eval(navigBtnsConf[btnIdx].enableExp));

                    });

                });
            }

            function initRoutesContainer(data,locaName) {

                $('#routes-container').on('click', '.navigBtn', function() {

                    var pathIndex = parseInt($(this).closest('.route-item').attr('data-idx'), 0);

                    var navg = getNavg(pathIndex);

                    navg[$(this).attr('data-act')]();

                    refreshNavgButtons();
                });

                initRouteItem(data,locaName, 0);

                refreshNavgButtons();
            }

            function initRouteItem(pathData,locaName, idx) {

//                var $routeItem = $('<div class="route-item"></div>');
                var $routeItem = $("#route-item");

                $routeItem.attr('data-idx', idx);

                $('<h3/>').css({
                    color: colors[idx]
                }).html(locaName + '(点数： ' + pathData.length + ')').appendTo($routeItem).on('click', function() {
                    pathSimplifierIns.setSelectedPathIndex(idx);
                });


                for (var i = 0, len = navigBtnsConf.length; i < len; i++) {
                    $('<button class="btn navigBtn" data-btnIdx="' + i + '" data-act="' + navigBtnsConf[i].action + '"></button>').html(navigBtnsConf[i].name).appendTo($routeItem);
                }
                $("<button class='btn' onclick='showModal()'>查找</button>").appendTo(document.getElementById("route-item"));

                $speedBox = $('<div class="speedBox"></div>').appendTo($routeItem);

                var speedTxt = $('<span><span>').appendTo($speedBox);

                var speedRangeInput = $('<input id="speedInp_' + idx +
                    '" class="speedRange" type="range" min="1000" max="10000" step="1000" value="5000" />').appendTo($speedBox);

                function updateSpeedTxt() {
                    var speed = parseInt(speedRangeInput.val(), 10);

                    speedTxt.html('时速：' + speed + ' km/h');

                    if (pathNavigs[idx]) {
                        pathNavigs[idx].setSpeed(speed);
                    }
                }
                speedRangeInput.on('change', updateSpeedTxt);

                updateSpeedTxt();

                $speedBox.appendTo($routeItem);

                $('<div class="msg"></div>').appendTo($routeItem);

                $routeItem.appendTo('#routes-container');
            }

            window.pathSimplifierIns = pathSimplifierIns;

            //设置数据
            pathSimplifierIns.setData([{
                name: locaName,
                path: lineArr
            }]);

            initRoutesContainer(lineArr,locaName);

            pathSimplifierIns.setSelectedPathIndex(0);

            //点击路线上的点时，列表跳到相应的记录
            pathSimplifierIns.on('pointClick', function(e, info) {
                //1.现将之前的背景色去掉
                $("#toolTbody tr").css("background-color","");

                //2.为记录加上背景色，并跳转到该记录
                var index = info.pointIndex;
                $("#historyTable").animate({scrollTop:$("[data-index="+index+"]").offset().top-$("[data-index='1']").offset().top});
                $("[data-index="+index+"]").css("background-color","rgb(38, 135, 192)");
//                console.log('Click: ' + info.pathData.points[info.pointIndex].name);
            });
        });
    }

    function startPath(){
        navg1.start();
    }

    //显示模态框
    function showModal() {
        //获取历史行车记录列表
        $.ajax({
            //几个参数需要注意一下
            type: "POST",//方法类型
            async:false,
            dataType: "json",//预期服务器返回的数据类型
            url: "/schedule/getLsgjList" ,//url
            data: $('#register_form').serialize(),
            success: function (result) {
                console.log(result);//打印服务端返回的数据(调试用)
                eval(result);
                if (result.code == "200") {
                    var lsgjs = result.rel;
                    var tbody = document.getElementById("modalTbody");
                    tbody.innerHTML = "";
                    for(var i=0;i<lsgjs.length;i++){
                        var lsgj = lsgjs[i];
                        var tr = document.createElement("tr");
                        var td0 = document.createElement("td");
                        var td1 = document.createElement("td");
                        var td2 = document.createElement("td");
                        var td3 = document.createElement("td");
                        var td4 = document.createElement("td");
                        var td5 = document.createElement("td");
                        var td6 = document.createElement("td");

                        td0.innerHTML = "<input type=\'checkbox\' name=\'icheckbox\' value=\'"+ lsgj.id +"\'/>";
                        td1.innerHTML = lsgj.plateNumber;
                        td2.innerHTML = lsgj.startDate;
                        td3.innerHTML = lsgj.endDate;
                        td4.innerHTML = "广东省惠州市惠城区";
                        td5.innerHTML = lsgj.endPlace;
                        td6.innerHTML = 16;

                        tr.appendChild(td0);
                        tr.appendChild(td1);
                        tr.appendChild(td2);
                        tr.appendChild(td3);
                        tr.appendChild(td4);
                        tr.appendChild(td5);
                        tr.appendChild(td6);

                        tbody.appendChild(tr);
                    }
                }else{
                    alert("出错！");
                }
            }
        });

        $("#myModal").modal();
    }

//    $(document).ready(function(){
//        var trs = $("#toolTbody tr");
//        $("#historyTable").animate({scrollTop:trs[6].offset().top},slow);
//        showModal();
//    });
</script>
<script type="text/javascript" src="https://webapi.amap.com/demos/js/liteToolbar.js"></script>

</body>

</html>