<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>调度申请列表</title>
    <!-- Bootstrap Styles-->
    <link href="/assets/css/bootstrap.css" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="/assets/css/font-awesome.css" rel="stylesheet"/>
    <!-- Morris Chart Styles-->

    <!-- Custom Styles-->
    <link href="/assets/css/custom-styles.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <!-- TABLE STYLES-->
    <link href="/assets/js/dataTables/dataTables.bootstrap.css" rel="stylesheet"/>
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation" th:include="header :: top-navbar">
    </nav>
    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation" th:include="sidebar :: navbar-side">
    </nav>

    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <!-- 模态框 -->
        <div class="modal fade bs-example-modal-lg" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        <!-- 行车记录列表 -->
                        <div class="form">
                            <form class="form-validate form-horizontal" id="register_form" method="get"
                                  th:action="@{/schedule/create}">
                                <input hidden name="orderId" />
                                <div class="form-group ">
                                    <label for="company" class="control-label col-lg-2">公司名称</label>
                                    <div class="col-lg-3">
                                        <input class="form-control" id="company" name="company" type="text"
                                               disabled/>
                                    </div>
                                    <label for="fzrName" class="control-label col-lg-2">客户负责人</label>
                                    <div class="col-lg-3">
                                        <input class="form-control" id="fzrName" name="name" type="text"
                                               disabled/>
                                        <!--<select class="form-control" id="fleetName" name="fleetName" type="text" required>-->
                                        <!--<option th:value="男">男</option>-->
                                        <!--<option th:value="女">女</option>-->
                                        <!--</select>-->
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="goodsName" class="control-label col-lg-2">货物名称 </label>
                                    <div class="col-lg-3">
                                        <input class="form-control " id="goodsName" type="text" name="goodsName"
                                                disabled/>
                                    </div>
                                    <label for="weight" class="control-label col-lg-2">货物重量(吨) </label>
                                    <div class="col-lg-3">
                                        <input class="form-control" id="weight" name="weight"
                                                type="text" disabled/>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="volume" class="control-label col-lg-2">货物体积(立方)</label>
                                    <div class="col-lg-3">
                                        <input class="form-control " id="volume" type="text" name="volume"
                                                disabled/>
                                    </div>
                                    <label for="totalAddress" class="control-label col-lg-2">目的地</label>
                                    <div class="col-lg-3">
                                        <input class="form-control " id="totalAddress" type="text" name="totalAddress"
                                                disabled/>
                                    </div>
                                </div>
                                <hr/>
                                <!--<div class="form-group ">-->
                                    <!--<label for="truck" class="control-label col-lg-2">货车</label>-->
                                    <!--<div class="col-lg-8">-->
                                        <!--<input type="text" class="form-control" id="truck" name="truckId" disabled/>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <div class="form-group ">
                                    <label for="plateNumber" class="control-label col-lg-2">车牌号</label>
                                    <div class="col-lg-3">
                                        <input class="form-control " id="plateNumber" type="text" name="plateNumber"
                                               disabled/>
                                    </div>
                                    <label for="fleetName" class="control-label col-lg-2">车队名称</label>
                                    <div class="col-lg-3">
                                        <input class="form-control " id="fleetName" type="text" name="fleetName"
                                               disabled/>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="loads" class="control-label col-lg-2">载重(t)</label>
                                    <div class="col-lg-3">
                                        <input class="form-control " id="loads" type="text" name="loads"
                                               disabled/>
                                    </div>
                                    <label for="output" class="control-label col-lg-2">排量(L)</label>
                                    <div class="col-lg-3">
                                        <input class="form-control " id="output" type="text" name="output"
                                               disabled/>
                                    </div>
                                </div>
                                <hr/>
                                <!--<div class="form-group ">-->
                                    <!--<label for="driver" class="control-label col-lg-2">司机</label>-->
                                    <!--<div class="col-lg-8">-->
                                        <!--<input type="text" class="form-control" id="driver" name="driverId" disabled />-->
                                    <!--</div>-->
                                <!--</div>-->
                                <div class="form-group ">
                                    <label for="drivingLicense" class="control-label col-lg-2">驾驶证号</label>
                                    <div class="col-lg-3">
                                        <input class="form-control " id="drivingLicense" type="text" name="drivingLicense"
                                               disabled/>
                                    </div>
                                    <label for="driverName" class="control-label col-lg-2">姓名</label>
                                    <div class="col-lg-3">
                                        <input class="form-control " id="driverName" type="text" name="driverName"
                                               disabled/>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="drivingLicenseType" class="control-label col-lg-2">驾照类型</label>
                                    <div class="col-lg-3">
                                        <input class="form-control " id="drivingLicenseType" type="text" name="drivingLicenseType"
                                               disabled/>
                                    </div>
                                    <label for="tellphone" class="control-label col-lg-2">联系方式</label>
                                    <div class="col-lg-3">
                                        <input class="form-control " id="tellphone" type="text" name="tellphone"
                                               disabled/>
                                    </div>
                                </div>

                                <!--<div class="form-group">-->
                                    <!--<div class="col-lg-offset-8 col-lg-10">-->
                                        <!--<button class="btn btn-primary" type="submit">保存</button>-->
                                        <!--<button class="btn btn-default" type="reset">重置</button>-->
                                        <!--<a class="btn btn-default" type="button" th:href="@{/truck/toList}">取消</a>-->
                                    <!--</div>-->
                                <!--</div>-->
                            </form>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary">确定</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

        <div class="header">
            <ol class="breadcrumb">
                <li><a href="#">主页</a></li>
                <li><a href="#">调度管理</a></li>
                <li><a href="#">车辆调度</a></li>
                <li class="active">调度审批</li>
            </ol>

        </div>

        <div id="page-inner">

            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            调度审批
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>用车类型</th>
                                        <th>发车地点</th>
                                        <th>目的地</th>
                                        <th>客户公司</th>
                                        <th>车牌号</th>
                                        <th>司机名称</th>
                                        <th>申请时间</th>
                                        <th>申请状态</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="odd gradeX" data-th-each="objs : ${dividePage.objList}"
                                        th:ondblclick="'javascript:shCheck(\''+${objs.orderId}+'\',\''+${objs.truckId}+'\',\''+${objs.driverId}+'\')'">
                                        <td data-th-text="${objs.aim}"></td>
                                        <td data-th-text="${objs.startPlace}"></td>
                                        <td data-th-text="${objs.endPlace}"></td>
                                        <td data-th-text="${objs.company}"></td>
                                        <td data-th-text="${objs.plateNumber}"></td>
                                        <td data-th-text="${objs.driverName}"></td>
                                        <td data-th-text="${objs.applicationDate}"></td>
                                        <td data-th-text="${objs.applicationState}"></td>
                                        <td >

                                            <a th:onclick="'javascript:submitSh(\''+${objs.id}+'\',\''+2+'\')'">[通过]</a>
                                            <a th:onclick="'javascript:submitSh(\''+${objs.id}+'\',\''+3+'\')'">[驳回]</a>
                                            <!--<a href="#" >[删除]</a>-->
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <ul class="pagination">
                                    <li><a href="#" th:href="@{/schedule/toShList(thisPage=${dividePage.prePage})}">&laquo;</a></li>


                                    <li th:class="${num eq dividePage.thisPage}?active" th:each="num:${dividePage.startAndEnd}">
                                        <a href="#" th:href="@{/schedule/toShList(thisPage=${num})}"
                                           th:text="${num }"></a>
                                    </li>
                                    <li><a href="#" th:href="@{/schedule/toShList(thisPage=${dividePage.nextPage})}">&raquo;</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>
            <!-- /. ROW  -->
        </div>
    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="/assets/js/jquery-1.10.2.js"></script>
<!-- Bootstrap Js -->
<script src="/assets/js/bootstrap.min.js"></script>
<!-- Metis Menu Js -->
<script src="/assets/js/jquery.metisMenu.js"></script>
<!-- Custom Js -->
<script src="/assets/js/custom-scripts.js"></script>
<!-- DATA TABLE SCRIPTS -->
<script src="/assets/js/dataTables/jquery.dataTables.js"></script>
<script src="/assets/js/dataTables/dataTables.bootstrap.js"></script>
<!-- Morris Chart Js -->
<script src="/assets/js/morris/raphael-2.1.0.min.js"></script>
<script src="/assets/js/morris/morris.js"></script>


<script src="/assets/js/easypiechart.js"></script>
<script src="/assets/js/easypiechart-data.js"></script>

<script src="/assets/js/Lightweight-Chart/jquery.chart.js"></script>
<script>
    $(document).ready(function () {
        $('#dataTables-example').dataTable();
    });

    function submitSh(scheId,state) {
        $.ajax({
            //几个参数需要注意一下
            type: "GET",//方法类型
            async:false,
            dataType: "json",//预期服务器返回的数据类型
            url: "/schedule/shSche?scheId="+scheId+"&state="+state,//url
//            data: $('#register_form').serialize(),
            success: function (rel) {
                if (rel.code == "200") {
                    alert(rel.result);
                    window.location.reload();
                }else{
                    alert("提交失败！");
                }
            }
        });
    }
    
    function shCheck(orderId,truckId,driverId) {
        $.ajax({
            //几个参数需要注意一下
            type: "GET",//方法类型
            async:false,
            dataType: "json",//预期服务器返回的数据类型
            url: "/schedule/shCheck?orderId="+orderId+"&truckId="+truckId+"&driverId="+driverId,//url
//            data: $('#register_form').serialize(),
            success: function (rel) {

//                console.log(result);//打印服务端返回的数据(调试用)
                if (rel.code == "200") {
                    var order = rel.result.order;
                    var truck = rel.result.truck;
                    var driver = rel.result.driver;

                    //设置订单信息
                    document.getElementById("company").value = order.company;
                    document.getElementById("fzrName").value = order.name;
                    document.getElementById("goodsName").value = order.goodsName;
                    document.getElementById("weight").value = order.weight;
                    document.getElementById("volume").value = order.volume;
                    document.getElementById("totalAddress").value = order.totalAddress;

                    //设置货车信息
                    document.getElementById("plateNumber").value = truck.plateNumber;
                    document.getElementById("fleetName").value = truck.fleetName;
                    document.getElementById("loads").value = truck.loads;
                    document.getElementById("output").value = truck.output;

                    //设置货车信息
                    document.getElementById("drivingLicense").value = driver.drivingLicense;
                    document.getElementById("driverName").value = driver.driverName;
                    document.getElementById("drivingLicenseType").value = driver.drivingLicenseType;
                    document.getElementById("tellphone").value = driver.tellphone;

                    //显示模态框
                    $("#myModal").modal();
//                    window.location.reload();
                }else{
                    alert("提交失败！");
                }
            }
        });

    }
</script>


</body>
</html>
