<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>物流公司车辆调度管理系统</title>
    <!-- Bootstrap Styles-->
    <link href="/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="/assets/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='/assets/css/fonts-googleapis.css' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="/assets/js/Lightweight-Chart/cssCharts.css">
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation" th:include="header :: top-navbar">
        </nav>
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation" th:include="sidebar :: navbar-side">
        </nav>
        <!-- /. NAV SIDE  -->
      
		<div id="page-wrapper">

            <button class="button" onclick="openInfo()">打开信息窗体</button>
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="/assets/js/jquery-1.10.2.js"></script>
    <!-- Bootstrap Js -->
    <script src="/assets/js/bootstrap.min.js"></script>
	 
    <!-- Metis Menu Js -->
    <script src="/assets/js/jquery.metisMenu.js"></script>
    <!-- Morris Chart Js -->
    <script src="/assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="/assets/js/morris/morris.js"></script>
	
	
	<script src="/assets/js/easypiechart.js"></script>
	<script src="/assets/js/easypiechart-data.js"></script>
	
	 <script src="/assets/js/Lightweight-Chart/jquery.chart.js"></script>
	
    <!-- Custom Js -->
    <script src="/assets/js/custom-scripts.js"></script>

    <script src="http://webapi.amap.com/maps?v=1.4.6&key=4b3e05927c7a55aa1a6526687c38207a&callback=init"></script>
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.2&key=您申请的key值"></script>
    <script type="text/javascript">
        var map = new AMap.Map('page-wrapper', {
            center: [117.000923, 36.675807],
            zoom: 6
        });

            //构建信息窗体中显示的内容
            var info = [];
            info.push("<div style=\"padding:0px 0px 0px 0px;\"><b>高德软件有限公司</b><br/>");
            info.push("电话 : 010-84107000   邮编 : 100102<br/>");
            info.push("地址 : 北京市望京阜通东大街方恒国际中心A座16层</div></div><br>");

            infoWindow = new AMap.InfoWindow({
                content: info.join("<br>")  //使用默认信息窗体框样式，显示信息内容
            });
            infoWindow.open(map, [116.480983, 39.989628]);


    </script>
    <script type="text/javascript" src="https://webapi.amap.com/demos/js/liteToolbar.js"></script>
</body>

</html>