<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cssmoban</title>
    <!-- Bootstrap Styles-->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="assets/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="assets/js/Lightweight-Chart/cssCharts.css"> 
</head>

<body>
    <div id="wrapper">
        <nav class="navbar-default navbar-side" role="navigation" th:fragment="navbar-side">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu" th:object="${session.user}">
                    <li >
                        <a th:href="@{/}"><i class="fa fa-edit"></i> 首页 </a>
                    </li>

                    <li th:if="*{role eq 'role1' || role eq 'superAdmin'}">
                        <a href="#"><i class="fa fa-sitemap"></i> 调度管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">车辆监控<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#">实时监控</a>
                                    </li>
                                    <li>
                                        <a href="#">历史轨迹</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">车辆调度<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#">调度申请</a>
                                    </li>
                                    <li>
                                        <a href="#">调度审批</a>
                                    </li>
                                    <li>
                                        <a href="#">调度记录</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li th:if="*{role eq 'role2' || role eq 'superAdmin'}" >
                        <a href="#"><i class="fa fa-sitemap"></i> 车辆管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li >
                                <a href="#" th:href="@{/truck/toList}">车辆信息</a>
                            </li>
                            <li>
                                <a href="#">临时车辆</a>
                            </li>
                            <li>
                                <a href="#">违章管理<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#">违章登记</a>
                                    </li>
                                    <li>
                                        <a href="#">违章记录</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">事故管理<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#">事故登记</a>
                                    </li>
                                    <li>
                                        <a href="#">事故记录</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li th:if="*{role eq 'role2' || role eq 'superAdmin'} ">
                        <a href="#"><i class="fa fa-sitemap"></i> 司机管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a th:href="@{/driver/toList}">司机信息</a>
                            </li>
                            <li>
                                <a href="#">排班管理<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#">司机排班</a>
                                    </li>
                                    <li>
                                        <a href="#">班次设置</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="assets/js/jquery-1.10.2.js"></script>
    <!-- Bootstrap Js -->
    <script src="assets/js/bootstrap.min.js"></script>
	 
    <!-- Metis Menu Js -->
    <script src="assets/js/jquery.metisMenu.js"></script>
    <!-- Morris Chart Js -->
    <script src="assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="assets/js/morris/morris.js"></script>
	
	
	<script src="assets/js/easypiechart.js"></script>
	<script src="assets/js/easypiechart-data.js"></script>
	
	 <script src="assets/js/Lightweight-Chart/jquery.chart.js"></script>
	
    <!-- Custom Js -->
    <script src="assets/js/custom-scripts.js"></script>

      <script>
    
      </script>

</body>

</html>